@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

@keyframes cool{
    0% {color:rgb(0, 0, 0);}
    50% {color:rgba(130, 0, 0);}
    100% {color:rgb(0, 0, 0);}
}

body{
    font-family: "M PLUS 1 Code", monospace;
    text-align: center;
    margin: 10px;
}

.title{
    font-size: 500%;
}

.title:hover{
    animation-name: cool;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

a{
    color: black;
}

a:hover{
    color: grey;
}
